{% load static %}

{% block content %}
<div class="block background-secondary fullwidth pt60 pb60">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="box">
					<div class="box-icon">
						<i class="fa fa-life-ring"></i>
					</div><!-- /.box-icon -->
		
					<div class="box-content">
						<h2>Feeling safe at home </h2>
						<p>If you know someone has a key to your home but you don't want them to be able to get in, you will need to change the locks right away. Often this is because of a relationship breakdown or a friendship gone bad, whatever the reason we can help. Choose and order your new locks online now with ChangeTheLocks.</p>
		
						<a href="#">Read More <i class="fa fa-chevron-right"></i></a>
					</div><!-- /.box-content -->
				</div>
			</div><!-- /.col-sm-4 -->
		
			<div class="col-sm-4">
				<div class="box">
					<div class="box-icon">
						<i class="fa fa-flask"></i>
					</div><!-- /.box-icon -->
		
					<div class="box-content">
						<h2>Who Has Keys?</h2>
						<p>If you are not sure who might have keys to your home get the locks changed right away. You may have just moved into your new home & never thought about how many spare sets may be out there. Why take the risk? We will ChangeTheLocks quickly and without fuss. </p>
		
						<a href="#">Read More <i class="fa fa-chevron-right"></i></a>
					</div><!-- /.box-content -->
				</div>
			</div><!-- /.col-sm-4 -->
		
			<div class="col-sm-4">
				<div class="box">
					<div class="box-icon">
						<i class="fa fa-thumbs-o-up"></i>
					</div><!-- /.box-icon -->
		
					<div class="box-content">
						<h2>Lost or Stolen Keys & Broken Locks</h2>
						<p>If you have lost the keys to your home we can pick, remove and replace your locks. If a bunch of keys has been stolen with your bag, purse or car then each door in your house is vulnerable. Broken locks can be repaired or replaced. Unopenable doors are not just annoying but can stop people escaping in an emergency such as a fire. Don't delay we will ChangeTheLocks quickly and without fuss.</p>
		
						<a href="#">Read More <i class="fa fa-chevron-right"></i></a>
					</div><!-- /.box-content -->
				</div>
			</div><!-- /.col-sm-4 -->
		</div><!-- /.row -->
	</div>
</div><!-- /.block -->
{% endblock %}