{% load static %}

{% block content %}
<div class="block background-secondary fullwidth pt60 pb60">
	<div class="container">  
		<div class="row">
			<div class="col-sm-12">
				<div class="contact-info-wrapper">
					<div class="row">
						<h2>Getting us to change the locks is easy using our online booking system!</h2>
						
						<div class="contact-info">
							<span class="contact-info-item">
								<br/>
								<p>How it works:</p>
								<ol>
									<li>Enter your postcode</li>
									<li>Choose the locks you want to change (or take a photo so we know which locks to bring!)</li>
									<li>Choose when & where to change the locks</li>
									<li>Pay a small deposit (balance on site when the job is done)</li>
									<li>We come out to you, change the locks & give you your new shiny keys - simple!</li>
								</ol>
							</span>
						</div>
					</div>
					
					<div class="row">
						<br />
						<h2>Do You Have Any Questions?</h2>
			
						<div class="contact-info">
							<span class="contact-info-item">
								<i class="fa fa-at"></i>
								<span>contact@changethelocks.co.uk</span>
							</span><!-- /.contact-info-item -->
			
							<span class="contact-info-item">
								<i class="fa fa-phone"></i>
								<span>(+44) 1565 325 007</span>
							</span><!-- /.contact-info-item -->
						</div>
					</div><!-- /.contact-info-->
				</div><!-- /.contact-info-wrapper -->
			</div><!-- /.col-* -->
		</div><!-- /.row -->
	</div>
</div>
{% endblock %}