{% extends 'base.html' %}
{% load static %}

{% block page_title %}{{ request.META.HTTP_HOST }} - Home Page{% endblock %}
{% block header_class %}header-transparent{% endblock %}

{% block css%}{% endblock %}

{% block content %}

<div class="main">

    <div class="pt60 pb60 yellow-keys">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <textarea rows="20" class="form-control">
A) TERMS & CONDITIONS OF CHANGETHELOCKS.CO.UK 
ABOUT US
1. ChangeTheLocks.co.uk is part of Cheshire Locksmith which is owned and run by Daniel Lavin a locksmith and locksmith services broker at Hole House Farm, Hole Lane, Allostock, Knutsford, Cheshire WA16 9JS.
BASIS OF SALE
2. These Terms and Conditions set out the whole agreement between you and us for the supply of our services, to the exclusion of all other terms and conditions.
3. If we provide a quote for locksmith services  without first inspecting the location, then a contract shall be created between us on your acceptance of our quote, whether by telephone, email or online. We reserve the right to vary our quoted price if at the time the job is carried out the information you provided to us at the time of quotation was incomplete or inaccurate.
PROVISION OF SERVICES
4. Unless prevented by a Force Majeure Event, we will provide our service with reasonable care and skill.
5. We will endeavour to undertake the locksmith work on the date and at any time agreed but there may be delays due to circumstances beyond our control. In this case we will inform you and, if necessary, arrange a revised date as soon as reasonably possible. Where we provide you with an estimated time of arrival this should not be construed as offering any form of guarantee as to the time upon which we will attend to carry out the work.
6. You agree to provide our locksmiths with free and safe access to the premises from where the job is to be carried out. You shall notify us of any special circumstances which may be relevant to our quotation, including any access issues, if any keys are not available (therefore requiring us to gain entry to the property without a key), if the work would necessitate working at height, if the door/s are secured in such a way that gaining access would put our locksmiths in danger, if there is likely to be a dispute as to whether the property can be accessed, or if we are unable to park our vans free of charge. If you do not notify us of such special circumstances, or provide us with incomplete or inaccurate information or instructions, we may either make an additional charge to cover any extra work or costs that are required or, if we are unable to undertake the work, charge a Wasted Journey Fee in accordance with section 12 below.
7. You confirm that you have the full authority for us to gain entry and change the locks at the property. You shall indemnify us from and against any cost or expense we suffer or incur from any third party as a result of you not having the authority for us to gain entery and change the locks.
8. If we detect or suspect there may be any asbestos or other hazardous or dangerous substances or materials on site we may vacate the premises at any point during the job, and will not be responsible for further works. In such event you shall still be fully liable to pay for our attendance and for any work already carried out.
9. Any sharp objects like broken glass should be removed and the area to be worked in should be made safe by you before we arrive to change the locks. This requirement is for the safety of our locksmiths.
PRICE AND PAYMENT
10. Payment must be made before or at the time of the work is carried out unless a later payment date has been agreed in advance in writing. In the event payment is not made the work will not be carried out and any locks fitted remain our property until paid for in full.
CANCELLATIONS, WASTED JOURNEYS AND CHARGES
11. If you are contracting as a “consumer”, in accordance with the Consumer Contracts (Informations, Cancellation and Additional Charges) Regulations 2013, you may cancel your booking at any time within 14 days of booking provided we have not started to provide the service.  To exercise the statutory right of cancellation, you must provide us with written notice.
12. If, having arrived at site, we are unable to complete the work because of an act or omission by you (eg. we cannot gain access to the property, or you cancel the service, it is not a domestic property), we will refund you all monies paid less a wasted journey charge of £75 (‘Wasted Journey Fee’) to cover our lost opportunity cost and costs of travel and labour spent on attending the site.
13. If we are unable to remove or fit any locks to the premises because, for example, they are to be fitted to special high securirty doors on domestic property and you have not informed us or any commercial premises whatsoever we may agree (at our discretion) to try and to fit alternative or specialist locks or equipement to the door or the doorway at your expense. 
14. Our basic rates include an amount of time (according to the type of lock to be removed and fitted) for the locksmiths to undertake the work once on site.  This time allowance is referred to as a Labour Allowance. Where a job takes longer than the Labour Allowance, an additional charge for labour will be applied.
LIMITATION OF LIABILITY
15. This clause does not exclude or limit in any way our liability for (i) death or personal injury caused by our negligence; (ii) fraud or fraudulent misrepresentation; or (iii) any breach of the obligations implied by section 12 of the Sale of Goods Act 1979 or section 2 of the Supply of Goods and Services Act 1982.
16. Subject to these terms, we shall not be liable to you, whether in contract, tort, breach of statutory duty, or otherwise, for any loss of profit, or any indirect or consequential loss arising under or in connection with the contract.  Our total liability to you in respect of all other losses arising under or in connection with the contract, whether in contract, tort, breach of statutory duty, or otherwise, shall not exceed the price of our services under the contract in question.
17. We cannot guarantee no damage to property will occur during the job. You should inspect the working area once our work is complete and notify the locksmith of any damage before they leave site. Any such damage must also be notified in writing to ChangeTheLocks.co.uk  within 7 days of completion of the job. We will not accept liability for any damage that is not notified to us within this time.
EVENTS OUTSIDE OUR CONTROL
18. We will not be liable or responsible for any failure to perform, or delay in performance of, any of our obligations under these Terms caused by events outside our reasonable control (Force Majeure Event).
19. A Force Majeure Event includes any act, event, non-occurrence, omission or accident beyond our reasonable control and includes (a) civil commotion, riot, invasion, terrorist attack or threat of terrorist attack, war (whether declared or not) or threat or preparation for war; (b) fire, explosion, storm, flood, earthquake, subsidence, epidemic or other natural disaster; (c) impossibility of the use of railways, shipping, aircraft, motor transport or other means of public or private transport; (d) impossibility of the use of public or private telecommunications networks.
20. Our obligations under these Terms are suspended for the period that the Force Majeure Event continues, and we will extend the time to perform these obligations for the duration of that period. We will take reasonable steps to bring the Force Majeure Event to a close or to find a solution by which our obligations under these Terms can be performed despite the Force Majeure Event.
TERMINATION
21. We may terminate the arrangement between us at any time.  Termination will not affect either party’s outstanding rights or duties, including our right to recover from you any money you owe us under these Terms
ASSIGNMENT
22. You may not transfer any of your rights or obligations under these Terms to another person without our prior written consent, which we will not withhold unreasonably. We can transfer all or any of our rights and obligations under these Terms to another organisation, but this will not affect your rights under these Terms.
NOTICES
23. All notices sent by you to us must be sent to us at Hole House Farm, Hole Lane, Allostock, Knutsford, Cheshire WA16 9JS or e-mailed to info@changethelocks.co.uk. We may give notice to you at either the e-mail or postal address you provide to us at the time of booking. Notice will be deemed received and properly served 24 hours after an e-mail is sent or three days after the date of posting of any letter. In proving the service of any notice, it will be sufficient to prove, in the case of a letter, that the letter was properly addressed, stamped and placed in the post and, in the case of an e-mail that the e-mail was sent to the specified e-mail address of the addressee.
DATA PROTECTION
24. We will only use the personal information you provide to us to provide the services, or to inform you about similar services which we provide, unless you tell us that you do not want to receive this information.
25. You acknowledge that we may share your data with any party listed in our registration as a data controller in full compliance with all aspects of the Data Protection Act 1998.
GENERAL
26. If any court or competent authority decides that any of the provisions of these Terms are invalid, unlawful or unenforceable to any extent, that term will, to that extent only, be severed from the remaining terms, which will continue to be valid to the fullest extent permitted by law.
27. If we fail, at any time while these Terms are in force, to insist that you perform any of your obligations under these Terms, or if we do not exercise any of our rights or remedies under these Terms, that will not mean that we have waived such rights or remedies and will not mean that you do not have to comply with those obligations. If we do waive a default by you that will not mean that we will automatically waive any subsequent default by you. No waiver by us of any of these Terms shall be effective unless we expressly say that it is a waiver and we tell you so in writing.
28. A person who is not party to these Terms shall not have any rights under or in connection with them under the Contracts (Rights of Third Parties) Act 1999.
29. These Terms shall be governed by English law and you and we both agree to the exclusive jurisdiction of the English courts.

B) PRIVACY POLICY OF CHANGETHELOCKS.CO.UK
Use of Customer Information
1. When arranging a booking, we will take details of your address and how to contact you. This information allows us to process your booking and to send you confirmation of your booking by e-mail or post. We ask for your telephone number so that we can contact you if there is a problem with your booking. We may occasionally use the information we collect to notify you about new services and special offers we think you may find valuable.
2. Occasionally we ask you to email us with your opinion on a particular subject, and may publish a selection of these comments on our web site. However, if you advise us that you do not wish to have your comment and name published, we will not do so.
Site Tracking
3. We use tracking software to monitor customer traffic patterns and site usage to help us develop the design and layout of the site to better meet the needs of visitors to changethelocks.co.uk. This software does not enable us to capture any personally identifying information.
Security To Protect Your Information
4. As required by the Data Protection Acts of 1984 and 1998, we follow strict security procedures in the storage and disclosure of information which you have given us. Our security procedures mean that we may occasionally request proof of identity before we are able to disclose sensitive information to you
Disclosure To Third Parties
5. ChangeTheLocks.co.uk does not sell, trade, or rent your personal information to others. We never disclose information about a client to any other person or organisation without your consent unless there is an emergency situation that requires it or we are legally required to do so. We may provide aggregate statistics about our customers, sales, collection patterns, and related site information to reputable third-party vendors, but these statistics will include no personally identifying information.
Your Consent
6. In using the ChangeTheLocks.co.uk website, you consent to the collection and use of this information by us in the ways described above.
Other
7. If you have any further questions about our privacy policy or its implementation, please contact us.
8. If we decide to change our privacy policy, we will post those changes on this page so that you are always aware of what information we collect, how we use it and in what circumstances we disclose it.

C) COOKIES POLICY OF CHANGETHELOCKS.CO.UK
9. Cookies are small pieces of data sent from a website to the user’s web browser to store information about how the site is used. They are completely secure and never contain any sensitive information.
10. This website uses Google Analytics to collect information about visitor behaviour including the pages you visit, how long you are on the site, how you got here and what you click on. We use the ‘Remarketing’ feature within Google Analytics to advertise online, allowing third-party vendors (including Google) to show our adverts across the internet. We use first-party and third-party cookies together to inform, optimise and serve adverts based on past visits to our website. You can opt-out of these adverts at any time by customising the Ads Settings within your own Google Account.
11. From time to time, we may use cookies to perform additional tasks including, but not limited to, site performance, web analytics, geo-targeting, registration and advertising.
12. We also use buttons to allow sharing on social networks including Twitter, Google+ and Facebook. These third party sites may collect information about your activity around the internet, including on the Changthelocks.co.uk  website. Please check the individual policies of these sites to see how your information is used.
13. We operate an ‘implied consent’ policy which means that we assume you are happy with this usage. If you are unhappy please do not use this site, delete the cookies after visiting the site, or use your browser’s anonymous settings.
                    </textarea>
                </div><!-- /.col-* -->

            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.mt-150 -->

</div><!-- /.main -->

{% endblock %}
    


{% block scripts %}
{% endblock %}
