{% extends "base.html" %}
{% load scheduletags i18n static %}

{% block css %}
  <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.css" %}" type="text/css" media="screen">
  <script type="text/javascript" src="{% static "jquery/dist/jquery.js" %}"></script>
  <script type="text/javascript" src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>
  <script type="text/javascript" src="{% static "bootstrap/dist/js/bootstrap.js" %}"></script>
  <script type="text/javascript" src="{% static "schedule.js" %}"></script>
  <link rel="stylesheet" href="{% static "schedule.css" %}" type="text/css" media="screen">
  <link rel="stylesheet" href="{% static "jquery-ui/themes/base/all.css" %}" type="text/css" media="screen">
{% endblock %}

{% block content %}
<div class="main blue-keys">
  <div class="container background-secondary">

{% include "schedule/_dialogs.html" %}

<div class="row row-centered">
  <a href="{% url "month_calendar" calendar.slug %}{% querystring_for_date period.start 2 %}">
    {% trans "Month" %}
  </a>
  <a href="{% url "year_calendar" calendar.slug %}{% querystring_for_date period.start 1 %}">
    {% trans "Year" %}
  </a>
</div>

<div class="row row-centered">
    <div>{{ calendar.name }}</div>
    {% prevnext "week_calendar" calendar period "\W\e\ek W, M Y" %}
    <div class="now">
      <a href="{% url "week_calendar" calendar.slug %}">
        {% trans "This week" %}
      </a>
    </div>
</div>

<div class="row row-centered">
  {% for day in period.get_days %}
    <div class="col-md-3">
      <div class="row row-centered">
        <a href="{% url "day_calendar" calendar.slug %}{% querystring_for_date day.start 3 %}">
          {{day.start|date:"l, d"}}
        </a>
      </div>
      {% if forloop.first %}
          {% daily_table day %}
      {% else %}
          {% daily_table day %}
      {% endif %}
    </div>
  {% endfor %}
</div></div></div>

{% endblock %}
